  @charset "utf-8"
  
  *{
    margin:0;
    padding:0;
  }
  
  body{
    background-color: green;
  }
  
  header{
    background-color: yellow;
    z-index: +1;
  }
  
  .box{
    background-color: blue;
    color: black;
    width: 240px;
    height: 90px;
    margin: 5px;
    float: left;
    overflow: auto;
  }
  
  aside{
    background-color: orange;
    width: 200px;
    float: right;
    position: relative;
    top: 20px;
    right: 10px;
  }
  
  footer{
    background-color: gray;
    clear: both;
  }
　
#IMG_0175{
  width: 24px;
  position: absolute;
  left: 50px;
  top: 50px;
}
